<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat Forum</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header id="sticky-header">
    <div class="container">
        <div class="logo">TheClub.</div>
        <% if (locals.user) { %>
          <div class="nav-links">
            <p class="username"> 👤 <%= user.username %> </p>
            <a class="nav-button" href="/log-out">Log out</a>
          </div>
        <% } else { %>
          <a class="nav-button" href="/log-in">Log In</a>
        <% } %>
    </div>
  </header>
  <main>

    <section class="message-list">
      <% if (locals.user) { %>
        <div class="post-message">
          <form class="post-message-form" action="/messages/create" method="POST">
            <form action="/messages/create" method="POST">
              <textarea name="body" id="body" placeholder="What's happening?" required></textarea>
              <button type="submit" class="button-post">Post</button>
            </form>
        </div>
      <% } %>
      <% messages.forEach(message => { %>
        <div class="message-card">
          <div class="message-header">
            <div class="message-avatar">
              <div class="default-avatar"></div>
            </div>
            <% if (locals.user) { %>
            <span class="message-author"><%= message.username %></span>
            <% } else { %>
            <span class="message-author"> Private User </span>
            <% } %>
            <span class="message-createdAt"><%= message.createdat %></span>
          </div>
          <p class="message-body"><%= message.body %></p>
        </div>
      <% }) %>
    </section>
  </main>

  <script>
    const header = document.getElementById('sticky-header');
    window.addEventListener('scroll', () => {
      header.classList.toggle('scrolled', window.scrollY > 50);
    });
  </script>

</body>
</html>
