<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat Forum</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Sign up</h1>
  <form class="sign-up-form" action="/sign-up" method="POST">
    <label for="fullName">Full name: </label>
    <input type="text" name="fullName" id="fullName" required>
    <label for="username">Username: </label>
    <input type="text" name="username" id="username" required>
    <label for="password">Password: </label>
    <input type="text" name="password" id="password" required>
    <button type="submit">Submit</button>
  </form>
  <div class="ref-link">
    <a href="/log-in">Already a member? Log-in now</a>
  </div>
</body>
</html>
