* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

/* Header styling */
header {
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  font-size: 2.5rem;
  color: #333;
}

/* Message list container */
.message-list {
  display: flex;
  flex-direction: column;
  gap: 0;
  max-width: 800px;
  margin: 0 auto;
}


/* Post message */
.post-message {
  background-color: #fff;
  padding: 15px;
  border-bottom: 1px solid #ddd; /* Divider line between cards */
  min-width: 280px;
}

.post-message-form {
  background-color: #fff;
  width: 100%;
}

textarea {
  width: 95%;
  padding: 10px;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #ccc;
  resize: none;
  box-sizing: content-box;
  font-family: Arial, sans-serif;
  color: #888;
}

textarea:focus {
  outline: none;
  border-color: #333;
  color: #333;
}

.button-post {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  color: #fff;
  border-radius: 48px;
  cursor: pointer;
  width: min-content;
}

/* Message card styling */
.message-card {
  background-color: #fff;
  padding: 15px;
  border-bottom: 1px solid #ddd; /* Divider line between cards */
  min-width: 280px;
}

/* Message header with avatar and user info */
.message-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.default-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
}

.message-author {
  font-weight: normal;
  font-size: 1rem;
  color: #333;
}

.message-createdAt {
  font-size: 0.9rem;
  color: #888;
  margin-left: auto;
}

/* Message body */
.message-body {
  font-size: 1rem;
  color: #555;
  word-wrap: break-word;
  margin: 0; /* No bottom margin */
}

/* Responsive design for different screen sizes */
@media (min-width: 600px) {
  .message-card {
    min-width: 400px;
  }
}

@media (min-width: 800px) {
  .message-card {
    min-width: 600px;
  }
}
